:root {
    --black: #031923;
    --yellow: #E5BB33;
    --blue: #205B75;
    --white: #FFFFFF;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--black); 
}

footer {
    color: var(--white);
    background-color: var(--black);
}

button, a {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
}

button:hover {
    color: var(--white);
    background-color: var(--blue);
}

h1 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    color: var(--black);
}

h2 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: var(--black);
}

h3 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--black);
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-nav a {
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    transition: color var(--main-transition);
}

button {
    padding: 6px 10px 10px;
    border: 1px solid var(--blue);
    color:  var(--blue);
    background-color: transparent;
    cursor: pointer;
    border: 8px;
}

.social, .contact  {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social li,.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--blue);
    border-radius: 50%;
    background-color: var(--white);
    transition: background-color var(--main-transition);
    background-position: center;
    background-repeat: no-repeat;
}

.social-link:hover {
    background-color: var(--yellow);
}

.social-link_github {
    background-image: url("../img/github.svg");
}

.social-link_gitlab {
    background-image: url("../img/gitlab.svg");
}

.social-link_instagram {
    background-image: url("../img/instagram.svg");
}

.social-link_telegram {
    background-image: url("../img/telegram.svg");
}

.social-link_vk {
    background-image: url("../img/vk.svg");
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contact-link {
    display: block;
    padding: 5px 0 5px 42px;
    transition: color var(--main-transition);
    background-position: left;
    background-repeat: no-repeat;
}

.contact-link:hover {
    color: var(--blue);
}

.contact-link_phone {
    background-image: url("../img/phone.svg");
}

.contact-link_mail {
    background-image: url("../img/email.svg");
}
.main-photo {
    border-radius: 50%;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}
.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}
.skill-level {
    margin: 4px 0 16px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--blue);
    border-radius: 16px;
}
.skill-level div {
    height: 14px;
    background-color: var(--yellow);
    border-radius: 8px;
}
.skill-item {
    text-transform: lowercase;
}
.skill-item_html {
    background-image: url("../img/html.svg");
}
.skill-item_css {
    background-image: url("../img/css.svg");
}
.skill-item_cpp {
    background-image: url("../img/c++.svg");
}
.skill-item_python {
    background-image: url("../img/python.svg");
}