:root {
    --black: #031923;
    --yellow: #E5BB33;
    --blue: #205B75;
    --white: #FFFFFF;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--black); 
}

footer {
    color: var(--white);
    background-color: var(--black);
}

button {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
}

a {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
}

h1 {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    color: var(--black);
}

h2 {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: var(--black);
}
